@import url("https://fonts.googleapis.com/css2?family=Nunito+Sans:wght@400;600&display=swap");

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
  font-family: "Nunito Sans", sans-serif;
  font-weight: 400;
  font-size: 20px;
}

a:hover {
  color: white;
  opacity: 0.8;
}

h1 {
  font-size: 2.2rem;
  font-weight: 600;
}

h2 {
  font-size: 1.2rem;
  font-weight: 600;
}

h3 {
  font-size: 1rem;
  font-weight: 600;
}

strong {
  font-weight: 600;
}


.scroll-to-top {
  background-color: #298eff;
  color: black;
  border-radius: 2%;
  position: fixed;
  bottom: 20px;
  right: 20px;
}


.userGitBox {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.imgGitUser {
  height: 200px;
  width: 200px;
}

.linkGit {
  color: #0d6efd;
  font-size: 20px;
}

.linkGit:hover {
  color: #0d6efd;
}